# Compiled Object files

*.o
*.obj
*.ipch

# Executables
*.exe

Debug
Release
.vs
*.user
*~
build

# Libraries
*.lib
*.dll

.DS_Store
.idea/
cmake-build-debug

nataf_gsa
nlopt/
nlohmann/
cmake-build-debug
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
build2